# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/

# Environment variables
.env

# Data (logs)
data/*.csv

# Trained models
models/*.pkl

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# OS
.DS_Store
